# Pyrogram
Pyrogram==1.2.11
TgCrypto==1.2.2

# GET / POST network requests
asyncio==3.4.3
aiohttp==3.7.4

# scrapping tools [not used anywhere]
beautifulsoup4
emoji

# Heroku /update R
gitpython
heroku3

# get metadata from files
hachoir==3.1.1

# process(, and resize) images
Pillow==8.3.2

# SQL DataBase ReQuirements
psycopg2-binary
sqlalchemy==1.3.23

# leech tools
youtube-dl
aria2p

# download remote files
pySmartDL

# Google Drive ReQuirements
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
oauth2client

# for reading .env files
python-dotenv>=0.10

# for interacting with te.legra.ph
telegraph==1.4.1
