https://github.com/pyrogram/pyrogram/archive/asyncio-dev.zip
tgcrypto

asyncio
aiohttp

beautifulsoup4
emoji

gitpython
heroku3

hachoir
Pillow

psycopg2-binary
sqlalchemy

youtube-dl
aria2p

pySmartDL

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
oauth2client